// colors
$color-primary: #0072ba;
$color-primary-light: #abcce0;

$color-black: #000;
$color-white: #fff;

$color-gray-dark-1: #16181a;
$color-gray-dark-2: #575e66;
$color-gray-dark-3: #828e99;

$color-gray-light-1: #c2c7cc;
$color-gray-light-2: #e6e8eb;
$color-gray-light-3: #f0f2f5;
$color-gray-light-4: #f5f7fa;

$color-alert: #fa3b40;
$color-info: #a8d923;

$color-modal-background: #16181a88;
